.main-form-div {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}

.form {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.text-field {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

#outlined-basic {
  width: 100%;
  width: 20rem;
}

.error-text {
  color: red;
  font-weight: 300;
}

.login-link {
  color: #64748b; /* slate-500 */
  text-decoration: underline;
  list-style: none;
  margin-bottom: 2rem; /* mb-8 = 32px */
  transition: all 0.1s;

  cursor: default; /* fallback */
}

.login-link:hover {
  color: #1e293b; /* slate-800 */
  cursor: pointer;
}
